@import '~src/assets/scss/config';

:host-context( .light-theme ) {
  background-color: $white;
  color: $black;
  .button {
    border: 1px solid $black;

    background: $white;

    &:hover {
      background: invert($white);
      color: invert($black);
    }

    &:active {
      box-shadow: 0 0 2px $black inset;

      background: invert($black);
      color: invert($white);
    }
  }
  .card {
    border-bottom: 1px solid $black;
  }
  .consumption-center {
    &__header {
      border-bottom: 1px solid $black;
    }
  }
}

:host-context( .dark-theme ) {
  background-color: $mine-shaft;
  color: $white;
  .button {
    border: 1px solid invert($black);

    background: $mine-shaft;
    color: $white;
    &:hover {
      background: invert($white);
      color: invert($black);
    }
    &:active {
      box-shadow: 0 0 2px $black inset;

      background: $mine-shaft;
      color: $white;
    }
  }
  .card {
    border-bottom: 1px solid invert($black);
  }
  .consumption-center {
    &__header {
      border-bottom: 1px solid invert($black);
    }
  }
}

:host {
  width: 100%;
}

.card {
  padding: 14px 0;

  &__details {
    display: flex;
    padding-top: 20px;

    justify-content: space-between;
  }
}

.button {
  width: 144px;
  height: 44px;
  border-radius: 5px;

  font-size: 18px;
  font-weight: 600;
  // text-transform: uppercase;

  outline: none;
}

.consumption-center {
  width: 100%;
  padding: $gutter $gutter*1.5;

  &__header {
    @include font(open-sans, bold, weight);

    padding: 14px 0;
    margin: 0;
    margin-bottom: 14px;

    font-size: 22px;
    text-align: center;
  }

  &__title {
    @include font(open-sans, bold, weight);

    margin-bottom: 14px;

    font-size: 18px;
  }

  &__concept {
    @include font(open-sans, regular, weight);

    width: 210px;

    color: $mexican-red;
  }
}
