@import '~src/assets/scss/config';

:host {
  width: 100%;
}

.consumption-center {
  width: 100%;
  padding: $gutter $gutter*1.5;

  &__header {
    @include font(open-sans, bold, weight);

    padding: 14px 0;
    margin: 0;

    color: $milano-red;

    font-size: 22px;
    text-align: center;
  }

  &__cover-page {
    box-shadow: 0 0 1px $black;
    width: 100%;
  }

  &__title {
    @include font(open-sans, bold, weight);

    margin-bottom: $gutter *2;

    font-size: 18px;
  }

  &__concept {
    width: 240px;
  }

  &__details {
    display: flex;
    padding: 60px 40px;

    justify-content: space-between;
  }
}
