<section class="consumption-center" *ngIf="consumptionCenter">
  <h1 class="consumption-center__header">{{ consumptionCenter.name }}</h1>
  <img class="consumption-center__cover-page" src="{{ASSETS_API_URL }}{{consumptionCenter.img.coverPage}}" alt="">
  <div class="consumption-center__details">
    <div>
      <p class="consumption-center__title">{{consumptionCenter.name}}</p>
      <p class="consumption-center__concept" *ngIf="consumptionCenter.concept">{{consumptionCenter.concept}}</p>
    </div>
    <div>
      <p class="consumption-center__title">{{'Abierto hoy' | uppercase}}</p>
      <div *ngFor="let schedule of consumptionCenter.schedules">
        <p>{{schedule.start | time12}} - {{schedule.end | time12}}</p>
      </div>
    </div>
  </div>
</section>
