@import '~src/assets/scss/base/normalize';
@import '~src/assets/scss/base/fonts/fonts';
@import '~src/assets/scss/base/reset';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
