@import '~src/assets/scss/config';

:host {
  height: $header-size;
}

.header {
  display: flex;
  height: $header-size;
  padding: 0 $gutter;

  background: $header-background;
  color: $white;

  align-items: center;

  &__hotel-name {
    @include font(open-sans, bold, weight);

    padding-right: $gutter;
    border-right: 1px solid $white;

    text-transform: uppercase;
  }

  &__time {
    padding-left: $gutter*2;
  }

  &__date {
    padding-left: $gutter;
  }

  &__logo-wrapper {
    display: flex;

    align-items: center;
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__logo {
    width: 30px;
  }
}
